<% layout('../layouts/main') -%>
<% stylesheet('styles/aggregator/main.css') -%>

<div class="ui container center aligned" id="aggregator-content">
	<div id="page-top">
		<a href="/about" title="نبذة عامة">نبذة عامة</a>
	</div>

	<div id="page-middle">

		<div id="page-logo">
			<a href="/" title="Home"><img src="<%= data.logo %>" /></a>
		</div>

		<div class="ui segment <% if(LAYOUT === 'phones'){ %>basic<% } %>" id="page-header">
			<div class="ui three column grid">
				<div class="ui column">
					<i class="icon picture large green"></i>
					<div><%= data.user.statuses_count %> صورة</div>
				</div>
				<a class="ui column" href="https://twitter.com/<%= data.user.screen_name %>" title="Follow <%= data.user.name %> on Twitter" target="_blank">
					<i class='icon twitter large blue'></i>
					<div><%= data.user.followers_count %> متابع</div>
				</a>
				<a class="ui column" href="https://instagram.com/<%= data.instagram.username %>" title="View my photo strem on Instagram" target="_blank">
					<i class="icon instagram large brown"></i>
					<div><% if(!_.isEmpty(data.instagram.data)){ %><%= data.instagram.data.counts.followed_by %><% } %> متابع</div>
				</a>
			</div>
		</div>

		<% data.results.forEach(function(r, i){ %>
			
			<div class="ui basic segment item" id="tweet-<%= r.id %>">
				<div class='img-number'>#<%= data.user.statuses_count - i %></div>
				<a href="/picture/<%= r.id %>/<%= encodeURIComponent(r.urlText) %>/<%= data.user.statuses_count - i %>" target="_blank" class="img-link" title="Open picture <%= r.text %>">
					<% if(i >= 5) { %>
						<img data-src="<%= r.entities.media[0].media_url %>" class="lazy" alt="<%= r.text %>"/>
					<% } else { %>
						<img data-src="<%= r.entities.media[0].media_url %>" class="lazy" alt="<%= r.text %>"/>
					<% } %>
				</a>

				<h1 class="ui small header"><%- r.text %></h1>

				<div class="ui left aligned">
					<a class="ui tiny button" href="https://twitter.com/intent/retweet?tweet_id=<%= r.id %>" title="ريتويت" target="_blank">
						<i class="retweet icon"></i>
						<span>ريتويت</span>
						<span><%= r.retweet_count %></span>
					</a>
				</div>

				<% if(LAYOUT === 'phones') { %>
				<div class="ui hidden divider"></div>
				<div class="ui center aligned">
					<a href="whatsapp://send?text=<%= encodeURIComponent(r.urlText) %>+<%= data.host %>/picture/<%= r.id %>/<%= encodeURIComponent(r.urlText) %>/<%= data.user.statuses_count - i %>" class="ui whatsapp large yellow fluid button">
						<i class="whatsapp icon"></i>
						Share
					</a>
				</div>
				<div class="ui divider"></div>
				<% } %>
			</div>
			
			<% if((i+1)%5 === 0){ %>
			<div class="page-count" data-count="<%= i %>" ></div>
			<% } %>
			
		<% }) %>

	</div>

	<div class="ui basic segment" dir="ltr">
		<div class="ui centered inline text loader" id="loader">
			Loading more content...
		</div>
	</div>
</div>

<div id="item-template" hidden>
	<div class="ui basic segment item" id="tweet-{{ r.id }}">
		<div class='img-number'>#{{ r.n }}</div>
		<a href="/picture/{{ r.id }}/{{ encodeURIComponent(r.urlText) }}/{{ r.n }}" target="_blank" class="img-link" title="">
			<img data-src="{{ r.entities.media[0].media_url }}" />
		</a>

		<h1 class="ui small header">{{ r.text }}</h1>

		<div class="ui left aligned">
			<a class="ui tiny button" href="https://twitter.com/intent/retweet?tweet_id={{ r.id }}" title="" target="_blank">
				<i class="retweet icon"></i>
				<span>ريتويت</span>
				<span>{{ r.retweet_count }}</span>
			</a>
		</div>

		{% if(r.phones) { %}
		<div class="ui hidden divider"></div>
		<div class="ui center aligned">
			<a href="whatsapp://send?text={{ encodeURIComponent(r.urlText) }}+{{ window.location.href }}/picture/{{ r.id }}/{{ encodeURIComponent(r.urlText) }}/{{ r.n }}" class="ui whatsapp large yellow fluid button">
				<i class="whatsapp icon"></i>
				Share
			</a>
		</div>
		<div class="ui divider"></div>
		{% } %}
	</div>
</div>
<script>

$(function(){
	Parse._.templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g,
        evaluate: /\{\%(.+?)\%\}/g
    };

	var $loader = $('#loader');
	var lastId = '<%= _.last(data.results).id %>';
	var isLoading = false;
	var template = Parse._.template($('#item-template').html());
	var $container = $('#page-middle');
	var currentPic = <%= data.user.statuses_count - data.results.length + 1 %>;
	var ids = "<%= data.results.map(function(r){return r.id}) %>".split(',');

	$('#aggregator-content .page-count')
		.visibility({
			initialCheck: false,
			onTopVisible: function(){
				ga('send', 'pageview');
			}
		});

	$('#aggregator-content .item .lazy')
		.visibility({
			type       : 'image',
			transition : 'fade in',
			duration   : 1000
		});

	$('#aggregator-content')
		.visibility({
			once: false,
			// update size when new content loads
			observeChanges: true,
			// load content on bottom edge visible
			onBottomVisible: function() {
				if(isLoading){
					return;
				}
				//Start loading
				isLoading = true;
				$loader.addClass('active');
				$.ajax({
					url: '/',
					data: {from: lastId},
					dataType: 'json'
				})
				.then(function(data){
					var fragment = document.createDocumentFragment();
					var item;

					if(data.status === 'success' && data.results.length){
						Parse._.each(data.results, function(r, i){
							if(ids.indexOf(r.id) === -1){
								currentPic = currentPic - 1;
								item = $(template({r: Parse._.extend(r, {n: currentPic, phones: App.phones})}));
								fragment.appendChild(item[0]);
								ids.push(r.id);
							}
						});
						//Set where we are at
						lastId = Parse._.last(data.results).id;
						//append content
						$container.append(fragment);
						//Lazy load images
						$container.find('img:not([src])')
							.visibility({
								type       : 'image',
								transition : 'fade in',
								duration   : 1000
							});
					}else{

					}
				})
				.fail(function(){
					console.log('error', argumnents);
				})
				.always(function(){
					isLoading = false;
					$loader.removeClass('active');
				});
			}
		});
});
</script>