<% layout('../layouts/main') -%>
<% stylesheet('/styles/aggregator/main.css') -%>

<div class="ui container center aligned" id="aggregator-content">
	<div id="page-top">
		<a href="/about" class="aAbout" title="نبذة عامة">نبذة عامة</a>
	</div>

	<div id="page-middle">

		<div id="page-logo">
			<a href="/" title="Home"><img src="<%= data.logo %>" /></a>
		</div>

		<div class="ui basic segment item" id="tweet-<%= data.tweet.id %>">
			<% if(data.tweet.index){ %>
			<div class='img-number'>#<%= data.tweet.index %></div>
			<% } %>
			<div class="img-link">
				<img src="<%= data.tweet.entities.media[0].media_url %>" />
			</div>

			<h1 class="ui small header"><%- data.tweet.text %></h1>

			<div class="ui left aligned">
				<a class="ui tiny button" href="https://twitter.com/intent/retweet?tweet_id=<%= data.tweet.id %>" target="_blank" title="ريتويت">
					<i class="retweet icon"></i>
					<span>ريتويت</span>
					<span><%= data.tweet.retweet_count %></span>
				</a>
			</div>

			<% if(LAYOUT === 'phones') { %>
			<div class="ui hidden divider"></div>
			<div class="ui center aligned">
				<a href="whatsapp://send?text=<%= encodeURIComponent(data.tweet.urlText) %>+<%= data.host %>/p/<%= data.tweet.index %>" class="ui whatsapp large yellow fluid button">
					<i class="whatsapp icon"></i>
					Share
				</a>
			</div>
			<% } %>
		</div>

	</div>

	<div id="page-bottom">
		© 2014 جواز سفر. جميع الحقوق محفوظة لأصحابها.
	</div>
</div>